:root {
  --text-color: #333;
  --med-text-color: #454545;
  --light-text-color: #767676;
  --brand-color: #1e3369;
  --brand-light: #6780c0;
  --link-hover: #008463;
  --link-color: #174b3f;
}

body {
  max-width: 60em;
}

body,
p,
caption,
figcaption,
span,
div {
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--brand-color);
}

header {
  font-size: 0.8em;
  text-align: left;
}

nav h1 {
  font-size: 1.25em;
}

header ol {
  list-style-type: none;
  padding-inline-start: 1em;
  margin-top: 0;
}

a {
  text-decoration-skip-ink: auto;
}

nav a {
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

.main-wrapper a {
  color: var(--link-color);
  text-decoration-color: var(--link-color);
}

.main-wrapper a:hover,
.main-wrapper a:focus {
  color: var(--link-hover);
  text-decoration-color: var(--link-hover);
  transition: color 0.15s ease-in-out, text-decoration-color 0.15s ease-in-out;
}

.title,
.author {
  text-align: center;
}

th {
  border-top: none;
}

tbody th {
  font-weight: 400;
}

.main-wrapper li p {
  margin: 0;
}
nav > ol > li > a {
  padding-right: 1.83em;
}
details {
  position: relative;
}
details:not([open]) {
  text-align: right;
}
summary {
  cursor: pointer;
  list-style: none;
  display: flex;
  position: absolute;
  top: -1.5em;
  right: 0em;
}
summary::-webkit-details-marker {
  display: none;
}
summary:after {
  background: white;
  border-radius: 50%;
  content: '+';
  outline: var(--text-color) solid 1px;
  outline-offset: -0.1em;
  color: var(--text-color);
  vertical-align: middle;
  padding: 0;
  text-align: center;
  width: 1.5em;
  margin: auto 0.1em 0px auto;
  flex-shrink: 0;
}
summary a {
  padding-right: 0.3em;
}
details[open] summary:after {
  content: '-';
  font-weight: 600;
}
.nav-level-1 {
  line-height: 1.5em;
}
summary:hover::after,
summary:focus::after {
  outline: var(--text-color) solid 2px;
}
#fn1 {
  list-style-type: '†';
}
header {
  max-width: 280px;
}

@media screen and (min-width: 48em) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-wrapper {
    float: left;
    max-width: 75%;
  }
  main,
  footer {
    margin: 0em 0em 0em 2em;
  }
  div.abstract {
    margin: 1em;
  }
  header {
    top: 1.4em;
    float: left;
    max-width: 25%;
    border-right: 1px solid #949494;
    position: sticky;
    align-self: start;
    max-height: 85vh;
    overflow-y: auto;
  }
  header ol,
  header a,
  header details,
  header summary {
    color: var(--light-text-color);
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
  }
  header a:hover,
  header a:focus,
  summary:hover,
  summary:focus,
  details[open] summary {
    color: var(--med-text-color);
  }
  nav > ol > li,
  nav summary {
    border-right: 0.25em solid transparent;
  }
  header .active {
    border-right: 0.25em solid var(--brand-light);
  }
  header .active > a {
    color: var(--text-color);
    font-weight: 600;
  }
  header .active summary:after {
    color: var(--text-color);
    outline: var(--text-color) solid 50px;
    font-weight: 600;
  }
  body:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  /* url("data:image/svg+xml;base64,CiAgICA8c3ZnCiAgICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgICAgd2lkdGg9IjEwMDIuNjY3IgogICAgICBoZWlnaHQ9IjEwMDIuNjY3IgogICAgICB2aWV3Qm94PSIwIDAgNzUyIDc1MiIKICAgID4KICAgICAgPHBhdGgKICAgICAgICBmaWxsPSIjMWUzMzY5IgogICAgICAgIGQ9Im01MDEuNSAzNzYtMzUuMzcxLTIwLjQyMi0xNzkuOTYtMTA0LjE5LTM1LjY2OC0yMC43MTl2MjkwLjY2bDM1LjY2OC0yMC43MTkgMTc5Ljk2LTEwNC4xOSAzNS4zNjctMjAuNDIyem0tOTQuNDIyIDAtMTA5LjIyIDYzLjE5NXYtMTI2LjM5eiIKICAgICAgLz4KICAgIDwvc3ZnPg==") */
  /* url("data:image/svg+xml;base64,PHN2ZwogICAgICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgICAgIHdpZHRoPSIxMDAyLjY2NyIKICAgICAgaGVpZ2h0PSIxMDAyLjY2NyIKICAgICAgdmlld0JveD0iMCAwIDc1MiA3NTIiCiAgICA+CiAgICAgIDxkZWZzPgogICAgICAgIDxjbGlwUGF0aCBpZD0iQSI+PHBhdGggZD0iTTE5NCAzMTJoMjkxdjI1M0gxOTR6IiAvPjwvY2xpcFBhdGg+CiAgICAgICAgPGNsaXBQYXRoIGlkPSJCIj48cGF0aCBkPSJtNDYyLjY3IDUyLjUzOSAyMzYuNzkgNDEwLjEzLTQxMC4xMyAyMzYuNzktMjM2Ljc5LTQxMC4xM3oiIC8+PC9jbGlwUGF0aD4KICAgICAgPC9kZWZzPgogICAgICA8ZyBjbGlwLXBhdGg9InVybCgjQSkiPgogICAgICAgIDxnIGNsaXAtcGF0aD0idXJsKCNCKSI+CiAgICAgICAgICA8cGF0aAogICAgICAgICAgICBmaWxsPSIjMWUzMzY5IgogICAgICAgICAgICBkPSJNNDg0LjY5IDMxMy4yNWgtNDAuODQ0bC0yMDcuOTUtLjI1LTQxLjI0Ni0uMTA5IDEyNC43NiAyMTYuMDkgMjAuNTcgMzUuNjI5IDIwLjUyNy0zNS43NzcgMTAzLjc2LTE4MC4yMSAyMC40MjItMzUuMzcxem0tODEuNzcgNDcuMjExbC02Mi45OTIgMTA5LjM0LTYzLjE5NS0xMDkuNDUgMTI2LjE4LjExM3oiCiAgICAgICAgICAvPgogICAgICAgIDwvZz4KICAgICAgPC9nPgogICAgPC9zdmc+") */
}
