:root {
  --text-color: #333;
  --brand-color: #1e3369;
  --link-color: #175446;
  --link-underline: #aadbcf;
}

body {
  max-width: 60em;
}

body,
p,
caption,
figcaption,
span,
div {
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--brand-color);
}

header {
  font-size: 0.8em;
  text-align: left;
}

nav h1 {
  font-size: 1.25em;
}

header ol {
  list-style-type: none;
  padding-inline-start: 1em;
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

nav a:visited {
  color: inherit;
}

.main-wrapper a {
  color: var(--link-color);
  background-image: linear-gradient(transparent 88%, var(--link-underline) 12%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.main-wrapper a:hover,
.main-wrapper a:focus {
  text-decoration: none;
  background-image: linear-gradient(transparent 93%, var(--link-color) 7%);
  transition: background-size 0.15s ease-in-out, background-image 0.15s ease-in-out;
}

.title,
.author {
  text-align: center;
}

#fn1 {
  list-style-type: '†';
}

@media screen and (min-width: 48em) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-wrapper {
    float: left;
    max-width: 75%;
  }
  main,
  footer {
    margin: 0em 0em 0em 2em;
  }
  div.abstract {
    margin: 1em;
  }
  header {
    top: 1.4em;
    float: left;
    max-width: 25%;
    border-right: 1px solid #949494;
    position: sticky;
    align-self: start;
    max-height: 80vh;
    overflow-y: auto;
  }
  header ol,
  header a,
  header details,
  header summary {
    color: #767676;
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
  }
  header a:hover,
  header a:focus {
    color: #454545;
  }
  header li.active {
    border-right: 0.3em solid var(--link-underline);
  }
  header li.active > a {
    color: #333;
    font-weight: 600;
  }
  body:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
